@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins";
    color: #593B38 ;
    margin: 0;
    padding: 0;
}

body{
    background:#F1EFEA;
}

header{
    margin: 20px;
}
#container{
   justify-content: center;
   margin: 30px 80px 80px 80px;
   align-items: center;
}

#colunas{
    display: flex;
    flex-direction:row;
}

#esquerda{
    background-color:white;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
    
}

#tittles{
    display: inline-flex;
    justify-content: space-around;
    
}

#tittles h3{
    margin: 0 60px 10px 60px;
}

hr{
    margin: 0;
    padding: 0;
}
p {
    background-color:white;
}


#descricao{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}

li{
    list-style-type: none;
    color: black;
    background-color: white;
    
}

ul, li{
    list-style: none;
}
    

.cart{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:white;
}

#contar{
    width: 50px;
    height: 30px;
}

#carrinho{
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

#compre, #tota{
    background-color: white;
    position: absolute;
    top:540px;
}

#compre{
    margin-top: 50px;
    border-style: none;
}

#resu, #tota, #total{
    color: black;
    background-color: white;
}

p{
    background-color:white;
}

.contador-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #contador {
    margin: 0 20px;
    background-color:white;
  }
  
 #button1 {
    background-color:white;
  }

  /*resumo do pedido*/
#meio{
    background-color: #593B38;
    border-radius: 10px;
    margin: 30px;
    width: 500px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

#meio h2{
    color: white;
    background-color: #593B38;
    margin: 12px;
}

  /*DIV PAGAMENTO*/

  #direita{
    margin: 10px 10px 0 30px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

#direita h2{
    margin-top: 10px;
    padding-left: 20px;
    margin: 0;
}

/*BOTÃO COMPRAR*/

#compre{
    background-color: #593B38;
    color:white;
    border-radius: 15px;
    width: 110px;
    height: 30px;
}

#img-pagto{
    margin-left: 10px;
    padding: 0;
    width: 300px;
    display: flex;
}

#direita {
    position: relative; 
}

#adicionar-forma-pagamento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #593B38;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2; /* Para garantir que o botão esteja sobre a imagem */
}

#direita:hover #adicionar-forma-pagamento {
    display: block; /* Exibe o botão quando o cursor está sobre a div */
}
