@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    background-color: #F5F5F5;
    font-family: "Poppins";
}

#colunas{
    display: flex;
    flex-direction:row;
    justify-content:center;
}

#esquerda{
    background-color:white;
    width: 500px;
    height: 460px;
    border-radius: 10px;
    padding: 20px;
}

p, {
    background-color:white;
}


#descricao{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}

#resumo{
    
}

li{
    list-style-type: none;
    color: black;
    background-color: white;
    
}

.cart{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:white;
}

#contar{
    width: 50px;
    height: 30px;
}

#carrinho{
    grid-column: 2/2;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}

#compre{
    background-color: white;
}

#resu, #tota, #total{
    color: black;
    background-color: white;
}

h1{
    display: flex;
    justify-content:flex-start;
    margin-left: 240px;
}

p{
    background-color:white;
}

.contador-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #contador {
    margin: 0 20px;
    background-color:white;
  }
  
 #button1 {
    background-color:white;
  }

  /*DIV PAGAMENTO*/

  h3{
    background-color: #593B38;
    color:white;
    padding-left: 20px;
  }

  #direita{
    margin-left: 30px;
    width: 300px;
    height: 200px;
    background-color: #593B38; 
    border-radius: 10px;
}