@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins";
    color: #593B38 ;
    margin: 0;
    padding: 0;
}

body{
    background:#F1EFEA;
}

header{
    margin:20px;
    margin-left: 6%;
}

header > div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


#logo{
    width: 30px;
    border-radius: 100px;
    margin-right: 10px;
}

#container{
   justify-content: center;
   margin: 30px 80px 80px 80px;
   align-items: center;
}
#container h1{
    margin-bottom: 10px ;
}
#colunas{
    display: flex;
    flex-direction:row;
}

#esquerda{
    background-color:white;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

#tittles{
    display: inline-flex;
    justify-content: space-around;
    
}

#tittles h3{
    margin: 0 40px 10px 40px;
}

hr{
    margin: 0;
    padding: 0;
}
p {
    background-color:white;
}


#descricao{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}

li{
    list-style-type: none;
    color: black;
    background-color: white;
    
}

ul, li{
    list-style: none;
}
    

.cart{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:white;
}

#contar{
    width: 50px;
    height: 30px;
}

#carrinho{
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    display: flex;

}

#itensCarrinho{
    width: 500px;
}

#itensCarrinho li {
    display: flex; /* Use flexbox para organizar os elementos */
    justify-content: space-between; /* Espaço igual entre os elementos */
    align-items: center; /* Centralizar verticalmente */
  }
  
  #itensCarrinho img {
    flex: 1; /* A imagem ocupa 1/3 da largura */
    margin: 10px; /* Espaço à direita da imagem */
    border-radius: 10px;
  }
  
  #itensCarrinho span {
    flex: 1; /* A quantidade ocupa 1/3 da largura */
    text-align: center; /* Centralizar o texto horizontalmente */
  }
  
  #itensCarrinho p {
    flex: 1; /* O valor ocupa 1/3 da largura */
    text-align: right; /* Alinhar o texto à direita */
  }
  
#compre, #tota{
    background-color: white;
}

#compre{
    margin-top: 10px;
    border-style: none;
    text-align: center;
    bottom: 0;
}

#itensCarrinho li, ul, #tota{
    background-color: white;
    color:#593B38;
}

p{
    background-color:white;
}

.contador-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #contador {
    margin: 0 20px;
    background-color:white;
  }
  
 #button1 {
    background-color:white;
  }
/* lado direito */
.right-side{
    position: fixed;
    top: 0;
    right: 0;
}
  
  /*resumo do pedido*/
#meio{
    background-color: #593B38;
    border-radius: 10px;
    margin: 60px 30px 30px 30px;
    width: 400px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

#meio h2, ul, p, li, #totall{
    color: white;
    background-color: #593B38;
}

#meio h2 {
    margin-bottom:12px;
}



/*DIV PAGAMENTO*/

#direita{
    margin: 10px 10px 0 30px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

#direita h2{
    margin-top: 10px;
    padding-left: 20px;
    margin: 0;
}

#button{
    background-color: #ffff;
    color: #593B38;
    border-radius: 10px;
    border-style: none;
    width: 240px;
    padding: 5px 0 5px 0;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

/*BOTÃO COMPRAR*/

#compre{
    background-color: #593B38;
    color:white;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

#img-pagto{
    margin-left: 10px;
    padding: 0;
    width: 300px;
    display: flex;
}

#direita {
    position: relative; 
}

#adicionar-forma-pagamento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #593B38;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2; /* Para garantir que o botão esteja sobre a imagem */
}

#direita:hover #adicionar-forma-pagamento {
    display: block; /* Exibe o botão quando o cursor está sobre a div */
}


#itensCarrinho img{
    width: 100px;
    height: 150px;
}

#itensresumo{
    margin-bottom: 10px;
}