@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    background-color: #F5F5F5;
    font-family: "Poppins";
}
#top{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;

}
#txtBusca{
    background-color: white;
    border: none;
    width: 831px;
    height: 40px;
    border-radius: 10px;
    margin-right: 0;
    text-align: left;
}

#btnBusca{
    background-color: #593B38;
    border-radius: 10px;
    margin: 0;
}

#divBusca{
    display: flex;
    align-items:center;
}

#btnCarrinho{
    display: flex;
    align-content:end;
}

a{
    text-decoration: none;
    color: #593B38;
    margin-right: 10px;
}

#entrar{
    
    margin:10px;
}

.linha{
    display: flex;
    flex-direction:row;
    align-content:space-around;
    justify-content:space-evenly;
    margin: 10px;
    bottom: 10px;
    margin-top: 20px;
    
}

.info{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}

.preco{
    display:flex;
    justify-content: center;
    margin-left: 15px;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    border-radius:5px ;
  }
  
  button:hover{
    background-color:#593B38;
  }


  #carr{
    display: flex;
    justify-content:flex-end;   
    position: fixed;
    bottom: 20px; 
    right: 20px; 
  }

  #fotos{
    width: 229px;
    height: 315px;
    
  }

  img{
    object-fit: cover;
  }

  