@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    background-color: #593B38;
    color: #ffff;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#title{
    font-size: 100px;
    margin-bottom: 10px;
}

button{
    background-color: #ffff;
    color:#593B38;
    border-style: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}