@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins";
}
body{
    background-color: #F5F5F5;
    height: auto;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin:0;
}
#divinha{
    width: 80%;
    height:  80%;
    display: inline-flex;
    background-color: #ffff;
    border-radius: 5px;
}
#box{
    background-image: url("background1.png");
    width: 100%;
    display: flex;
    border-radius: 5px 0 0  5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    color: #ffff;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
}
img{
    width: auto;
}
#div{
    width: 100% ;
    margin: 3% 0 3% 0;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
h4{
    color: #593B38;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0.5%;
    margin-top: 0;
    text-decoration: none;
}
#forms{
    /*background-color: #F5F5F5;*/
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}
.inputinhos{
    background-color: #ffff;
    border-radius: 5px;
    border-color: #D9D9D9;
    border-style: solid;
    padding-left: 10px;
    width: 350px;
    height: 35px;
    color: #B1AEAE;
    margin: 10px;
    font-size: 17px;
}
#cadastrar{
    background-color: #593B38;
    color: #ffff;
    border-radius: 5px;
    border: none;
    width: 355px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
#ahaccount{
    text-decoration: none;
    color: #B1AEAE;
    cursor: pointer;
}